/* html, body {
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
} */

:root {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}
/*
html,
body {
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
} */

/* tinyMCE promotion button */
.tox-promotion {
  display: none;
}

.wrapper {
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: env(safe-area-inset-top, 10px);
  padding-right: env(safe-area-inset-right, 10px);
  padding-bottom: env(safe-area-inset-bottom, 10px);
  padding-left: env(safe-area-inset-left, 10px);

}

.content {
  width: 100%;
  min-height: 0;
  display: flex;
}

.content-row {
  width: 100%;
}

.files-col {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.files-list {
  min-height: 0;
  overflow-y: auto;
}

.editor-col {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.editor-container {
  height: 100%;
  overflow-y: auto;
}

#wysiwyg {
  display: none;
}

/* prompt */
.prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.prompt-box {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.prompt-input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.prompt-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

